pkgbase = garuda-calamares-zfs
	pkgdesc = Enhanced ZFS support for Calamares installer - optimized for Garuda Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/wlfogle/calamares-zfs-integration
	arch = any
	license = GPL-3.0-or-later
	depends = calamares>=3.3.14
	depends = zfs-utils
	depends = python>=3.6
	depends = python-yaml
	optdepends = zfs-dkms: ZFS kernel modules for DKMS
	optdepends = zfs-linux: ZFS kernel modules for linux kernel
	provides = calamares-zfs
	conflicts = calamares-zfs
	backup = usr/share/calamares/modules/zfs/zfs.conf
	backup = usr/share/calamares/modules/zfspostcfg/zfspostcfg.conf
	backup = usr/share/calamares/settings-zfs.conf
	source = calamares-zfs-integration-1.0.0.tar.gz::https://github.com/wlfogle/calamares-zfs-integration/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = garuda-calamares-zfs
